/* Matugen generated variables */
:root {
  /* Main UI Surface */
  --m3-bg: #131410;
  --m3-on-bg: #e4e3db;
  --m3-surface-variant: #45483d;
  --m3-on-surface-variant: #c5c8b9;

  /* Primary Accents */
  --m3-primary: #add36f;
  --m3-on-primary: #223600;
  --m3-primary-container: #334f00;

  /* Secondary/Tertiary */
  --m3-secondary: #c1caac;
  --m3-tertiary: #a0d0ca;
  --m3-on-tertiary: #003733;

  /* Utility & Feedback */
  --m3-outline: #8f9285;
  --m3-error: #ffb4ab;

  /* Interaction states with filters */
  --m3-hover: #add36f;
  --m3-on-hover: #223600;
}
